<%# Copied from the default redmine view %>
<% if @repositories.size > 1 %>
  <h3><%= l(:label_repository_plural) %></h3>
  <p>
    <%= @repositories.sort.collect {|repo|
        link_to h(repo.name), 
                {:controller => 'repositories', :action => 'show',
                 :id => @project, :repository_id => repo.identifier_param, :rev => nil, :path => nil},
                :class => 'repository' + (repo == @repository ? ' selected' : '')
      }.join('<br />').html_safe %>
  </p>
<% end %>