<%# Be explicit so this view may be rendered by any controller. %>
<h3><%= l(:label_post_receive_hook_plural) %></h3>

<div class="post_receive_hooks">
  <%= render partial: "post_receive_hooks/post_receive_hook.js", collection: @repository.post_receive_hooks %>
</div>

<p>
  <%= link_to l(:label_post_receive_hook_new), new_post_receive_hook_path(@project, @repository), remote: true %>
</p>