<h2><%= l(:label_post_receive_hook_edit) %></h2>

<div class="box">
  <%= render "form" %>
</div>

<% content_for :sidebar do %>
  <%= render "repositories/hooks_sidebar" %>
  <%= render "repositories_sidebar" %>
<% end %>