<% if repository.is_a?(Repository::GitServer) && repository.project.present? %>
  <div class="box">
    <%= render partial: "repositories/git_urls_list", locals: {repository: repository} %>
  </div>
<% end %>