<h2><%=l(:label_public_key_new)%></h2>

<%= labelled_form_for(@public_key) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end %>

<% content_for :sidebar do %>
  <%= render "my_sidebar" %>
<% end %>
